/* ..... NAVBAR START ......*/
#mainnav a{
    color: #000;
   
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#mainnav .navbar-brand{
    font-size:1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: roboto;
}
#mainnav a:hover{
    color: #000 !important
}

.fa{color:red}
/* ..... NAVBAR END ......*/

.carousel-inner img{
    width: 100%;    
    height: 40rem
}

/* ..... LOGIN FORM START ......*/
.input_border{
  border: 0px;
  border-bottom: 1px solid #333;
}
.input_border:focus{
 box-shadow: none
}
/* ..... LOGIN FORM END ......*/


/* ..... CONTACT FORM START ......*/

#contact_form {
    width: 100%;
    margin: 60px auto;
    background: #fff;
    padding: 60px 120px 80px 120px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  }
  #contact_form  label {
    display: block;
    position: relative;
    margin: 40px 0px;
  }
  #contact_form  .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  #contact_form  .line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
  }
  
  #contact_form  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #8BC34A;
    transition: ease .6s;
  }
  
  #contact_form .input:focus + .line-box .line {
    width: 100%;
  }
  
  #contact_form .label-txt {
    position: absolute;
   font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .6s;
  }
  
  #contact_form .label-active {
    top: -1em;
  }
  
  #contact_form button {
    display: inline-block;
    width: 100%;
    background: rgb(235, 14, 14);
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  }
  
  #contact_form button:hover {
    background: rgb(235, 14, 14);
    color: #ffffff;
  }
  /* ..... CONTACT FORM END ......*/


/* ..... FOOTER START ......*/

body {
    font-family: 'Signika', sans-serif;
 }
 .bg-grey {
    background: #000;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
footer ul  li a:hover {
text-decoration: none;
color: #f5f5f5!important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}

/* ..... FOOTER END......*/